body{
    background-color: blanchedalmond;

}

header{
    background-color: aliceblue;
}

header div img{
    largura:300px;
}

.paragrafo{
    text-align: center;
    padding: 50px;
    font-size: 20px;
}